body {
    background: #e9cce5;
    color: #e96262;
}

nav {
    background: #addadb;
}

a {
    color: #fa007d;
}
background: rgb(239, 80, 41);
  margin: 0 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}